/* font Family */
$primary-kr : 'NanumSquareNeoBold';
$bold-kr : 'NanumSquareNeoExtraBold';
$primary-en : "Roboto", sans-serif;
/* Text Color*/
$dark-black:#333; //문서 본문 텍스트 색상
$dim-black:#555;
$silver-black:#777;
$light-black:#999;
$dark-gray:#BDBDBD;
$dim-gray:#ddd;
$silver-gray:#eee; //input에 보더색상
$light-gray:#F5F5F5;
$cloudy-gray:#F9F9F9;
/* Object Color*/
$main-color:#336184;
$hover-color:#10377C;
$custom-btn:#3C9FBC;
$sub_bg : #E6F4FD;
$sub_main : #AFE0FF;
$main-transition: .4s;