@media (max-width:767px){
  :root{
    --main-kr-font:'NanumSquareNeoBold';
    --bold-kr-font:'NanumSquareNeoExtraBold';
    --sub-kr-font:'GmarketSansMedium';
    --main-en-font:"Roboto", sans-serif;
    --main-text-color:#333;
    --text-color-light:#555;
    --main-color:#336184;
    --hover-color:#10377C;
    --custom-btn:#3C9FBC;
    --main-transition: .4s;
  }
  .title_wrap .bottom .bottom_text span{
    font-size: 11px;
  }
  .title_wrap{
    margin-top: 100px;
  }
  .content_wrap .menu .menu_title{
    display: none;
  }
  .content_wrap .content{
    width: 100%;
  }
  .content_wrap .inner .menu{
    display: none;
  }
  .content_wrap .content #tables{
    width: 100%;
    border-collapse: collapse; 
    table-layout: fixed;  
  }
  .content_wrap .content table th, .content_wrap .content table td{
    border-bottom: none;
    font-size: 10px;
  }
  .content_wrap .content table th, .content_wrap .content table > tbody > tr{
    border-bottom: 1px solid #eee;
  }
  tbody td:nth-child(2){
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #numbers a{
    display: block;
    width: 100%; height: 100%;
    display: flex;
    align-items: center; justify-content: center;
    font-size: 12px;
  }
  .content_wrap .content .managers{
    margin: auto;
    width: 100%;
    font-size: 12px;
  }
  .content_wrap .content .managers .manager{
    margin: 0 5px;
  }
  .content_wrap .content .managers .manager span{
    margin: 0;
    font-size: 10px;
  }
  .content_wrap .content .managers .manager::after{
    display: none;
    
  }
  .content_wrap .content table td{
    padding: 1rem .3rem;
  }
  .content_wrap .content .pagination i{
    display: none;
  }
  .content_wrap .content .pagination ol li{
    width: 40px; height: 40px;
  }
  .QnA_wrap .QnA_menu ul li a{
    font-size: 14px;
    padding: 10px;
  }
  .QnA_wrap .QnA_content .content_item span{
    font-size: 14px;
  }
  .QnA_wrap .QnA_content .content_item h4{
    font-size: 12px;
  }
  .QnA_wrap .QnA_content .content_item .answer p{
    padding: 1rem 4rem;
  }
  .QnA_wrap .QnA_content .content_item p{
    font-size: 12px;
  }
  .civil-wrap tbody td:nth-child(1){
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
    .civil-wrap tbody td:nth-child(2){
    width: 55%;
    margin: auto;
  }
  .civil-wrap tbody td img{
    width: 40px;
  }
}
