/* common */
:root{
  --main-kr-font:'NanumSquareNeoBold';
  --bold-kr-font:'NanumSquareNeoExtraBold';
  --sub-kr-font:'GmarketSansMedium';
  --main-en-font:"Roboto", sans-serif;
  --main-text-color:#333;
  --text-color-light:#555;
  --main-color:#336184;
  --hover-color:#10377C;
  --custom-btn:#3C9FBC;
  --main-transition: .4s;
}
html{
  scroll-behavior: smooth;
}
main section{
  margin: 90px 0;
}
.inner{
  width: 1320px;
  margin: auto;
}
.title{
  margin: 1rem 0 1.88rem;
}
.title h2{
  text-align: center;
  font-size: 40px; 
  font-family: var(--bold-kr-font);
}
/* basic_btn */
.basic_btn{
  border: 3px solid black;
  width: 190px; height: 50px;
  border-radius: 50px;
}
.basic_btn a{
  display: block;
  width: 100%; height: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-size: 20px;
}
.basic_btn a i{
  margin-left: 1rem;
  font-size: 20px;
  vertical-align: middle;
}
.basic_btn:hover a{
  font-family: var(--bold-kr-font);
  font-size: 21px;
}
/* cusrom-swiper */
.cusrom_control .swiper-button-next,
.cusrom_control .swiper-button-prev{
    width: 80px; height: 80px;
    background-color: #3C9FBC;
    border-radius: 50%;
    color: #fff;
}
/* click */
.click{
  animation: click .4s infinite linear;
  width: 15px;
}
@keyframes click{
  0%{color: var(--custom-btn);}
  100%{color: var(--hover-color);}
}
.service .click{
  width: 100%;
  text-align: right;
}
.nav_item .click{
  width: 90%;
  text-align: right;
}
.site_map .click{
  width: 100%;
  text-align: right;
}
.sub_menu h4 .click{
  display: block;
  width: 27%;
  text-align: right;
}
.sub_menu li .click{
  display: block;
  width: 47%;
  text-align: right;
}
/* title */
.title_wrap{
  margin-top: 150px;
  margin-bottom: 0;
}
.title_wrap .bg{
  background: url(../../image/sub_title_bg.png) center;
  width: 100%; height: 340px;
  max-width: 1920px; margin: auto;
}
.title_wrap .inner{
  position: relative;
  height: 100%;
}
.title_wrap .text_wrap{
  color: #fff;
  position: absolute;
  top: 50%; transform: translateY(-50%);
}
.title_wrap .text_wrap h2{
  font-size: 2rem;
  margin: 2rem 0;
  font-family: var(--bold-kr-font);
}
.title_wrap .text_wrap p{
  font-family: var(--main-en-font);
  font-weight: 600;
}
.title_wrap .bottom{
  width: 100%; height: 57px;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  background: var(--main-color);
  color: #fff;
  display: flex;
}
.title_wrap .bottom .home{
  background: var(--custom-btn);
}
.title_wrap .bottom .home i{
  font-size: 30px;
  color: #fff;
  padding: 1rem;
}
.title_wrap .bottom .bottom_text{
  line-height: 57px;
  padding: 0 1rem;
}
.title_wrap .bottom .bottom_text span{
  margin-right: 1rem;
}
.title_wrap .bottom .bottom_text span::after{
  content: '\f054';
  font-family: 'fontawesome';
  vertical-align: middle;
  margin-left: 1rem;
}
.title_wrap .bottom .bottom_text span:last-child:after{
  content: '';
  font-family: 'fontawesome';
  vertical-align: middle;
  margin-left: 1rem;
}

/* content */
.content_wrap{
  margin-top: 0;
  
}
.content_wrap .inner{
  display: flex;
  gap: 2rem;
}
.content_wrap .menu{
  width: 17%;
  margin: .5rem 0;
}
.content_wrap .menu .menu_title li{
  border-bottom: 1px solid #eee;
  padding: 1rem 1.5rem;
}
.content_wrap .menu .menu_title li a{
  display: block;
}
.content_wrap .menu .menu_title li:hover a{
  font-family: var(--bold-kr-font);
}
.content_wrap .menu .menu_title li a.active{
  color: var(--hover-color);
  font-family: var(--bold-kr-font);
}

.content_wrap .content{
  width: 80%;
}
.content_wrap .content .content_title{
  font-family: var(--bold-kr-font);
  font-size: 25px;
  border-bottom: 1px solid #eee;
  padding: 1rem;
  margin: 2rem 0;
}
/* 공통 */
.content_wrap .content table{
  border-collapse: collapse;
  width: 100%;
}
.content_wrap .content table th,
.content_wrap .content table td{
  padding: 1.2rem 1rem 1.2rem;
  border-bottom: 1px solid #eee;
}
.content_wrap .content table td{
  padding: 1.2rem 1rem;
  text-align: center;
}
.content_wrap .content table td:nth-child(2){
  text-align: left;
}
.content_wrap .content table th{
  border-top: 2px solid rgb(170, 170, 170);
  border-bottom: 2px solid rgb(170, 170, 170);
}
.content_wrap .content table tr:hover td{
  font-family: var(--bold-kr-font);
  cursor: pointer;
}
/* pagination */
.content_wrap .content .pagination{
  width: 90%; height: 50px;
  text-align: center;
  margin: 50px auto;
  display: flex;
  justify-content: center; align-items: center;
}
.content_wrap .content .pagination i{
  width: 50px; height: 100%;
  border: 1px solid #eee;
  line-height: 50px;
  font-size: 20px;
  color: var(--main-color);
  margin: 0 .5px;
}
.content_wrap .content .pagination ol{
  display: flex;
  margin: 0 1rem;
  height: 100%;
}
.content_wrap .content .pagination ol li{
  border: 1px solid #eee;
  width: 50px;
  line-height: 50px;
}
.content_wrap .content .pagination ol li a{
  display: block;
  width: 100%; height: 100%;
}
.content_wrap .content .pagination ol li a.active{
  background-color: var(--hover-color);
  color: #fff;
}
.content_wrap .content .managers{
  width: 90%; height: 50px;
  background: #eee;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}
.content_wrap .content .managers .manager{
  margin: .5rem;
}
.content_wrap .content .managers .manager:nth-child(1):after,
.content_wrap .content .managers .manager:nth-child(2):after{
  content: '|';
  margin-left: .5rem;
}
.content_wrap .content .managers .manager span{
  margin: 0 .3rem;
}
/* QnA */
.QnA_wrap{
  margin-top: 0;
}
.QnA_wrap .QnA_title{
  font-family: var(--bold-kr-font);
  font-size: 25px;
  border-bottom: 1px solid #eee;
  padding: 1rem;
  margin: 2rem 0;
}

.QnA_wrap .QnA_menu{
  margin-bottom: 1.5rem;
}
.QnA_wrap .QnA_menu ul{
  display: flex;
}
.QnA_wrap .QnA_menu ul li{
  border: 1px solid #eee;
}
.QnA_wrap .QnA_menu ul li a{
  display: block;
  padding: 1rem 2rem;
}
.QnA_wrap .QnA_menu ul li a.active{
  background: var(--main-color);
  color: #fff;
  font-family: var(--bold-kr-font);
}
.QnA_wrap .search_box{
  text-align: right;
  padding: 1rem 0;
  border-bottom: 1px solid #474747;
}
.QnA_wrap .search_box input[type = text]{
  padding: 1rem;
  width: 250px; 
  border: 1px solid #eee;
}
.QnA_wrap .search_box input[type = submit]{
  padding: 1rem 2rem;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  margin-left: -6px;
}
.QnA_wrap .search_box input[type = text]::placeholder{
  color: var(--main-text-color);
}
.QnA_wrap .search_box input[type = text]:focus::placeholder{
  color: transparent;
}
.QnA_wrap .QnA_content{
  margin: 1rem 0 2rem;
}
.QnA_wrap .QnA_content .tab{
  background-color: #fff;
  display: none;
}
.QnA_wrap .QnA_content .tab.active{
  display: block;
}
.QnA_wrap .QnA_content .content_item{
  cursor: pointer;
}
.QnA_wrap .QnA_content .content_item span{
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  font-family: var(--main-en-font);
  display: inline-block;
  width: 30px; height: 30px;
  text-align: center; line-height: 30px;
  border-radius: 50%;
  margin-right: .5rem;
}
.QnA_wrap .QnA_content .content_item .question h4{
  border-bottom: 1px solid #aaaaaa;
  font-family: var(--bold-kr-font);
  padding: 1rem 0;
  position: relative;
}
.QnA_wrap .QnA_content .content_item.active .question h4::after{
  content: '\f068';
  font-family: 'fontawesome';
  position: absolute;
  top: 40%; right: 2%;
}
.QnA_wrap .QnA_content .content_item .question h4::after{
  content: '\2b';
  font-family: 'fontawesome';
  position: absolute;
  top: 40%; right: 2%;
}
.QnA_wrap .QnA_content .content_item .question span.q{
  background: var(--main-color);
}
.QnA_wrap .QnA_content .content_item.active .answer p{
  display: block;
}
.QnA_wrap .QnA_content .content_item .answer p{
  display: none;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem 6rem;
  background-color: #f7f7f7;
  position: relative;
  line-height: 2;
}
.QnA_wrap .QnA_content .content_item .answer span.a{
  background: var(--custom-btn);
  position: absolute;
  left: 4%;
}
.QnA_wrap .managers{
  width: 90%; height: 50px;
  background: #eee;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  margin: auto;
}
.QnA_wrap .managers .manager{
  margin: .5rem;
}
.QnA_wrap .managers .manager:nth-child(1):after,
.QnA_wrap .managers .manager:nth-child(2):after{
  content: '|';
  margin-left: .5rem;
}
.QnA_wrap .managers .manager span{
  margin: 0 .3rem;
}
